<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" routerLink="employees" routerLinkActive="active">Employee List</a>
        <a class="nav-link" routerLink="create-employee" routerLinkActive="active">Create Employee</a>
        <a class="nav-link" href="#">Pricing</a>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="text-white">Contact Us</h3>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <ul class="list-unstyled">
          <li><i class="fas fa-map-marker-alt"></i> Address: 123 AV DES CHAMPS ELYSEES, 75008 PARIS</li>
          <li><i class="fas fa-phone-alt"></i> Phone: +33 1 23 45 67 89</li>
          <li><i class="fas fa-envelope"></i> Email: info@awiya.io</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h3 class="text-white">Follow Us</h3>
        <p class="text-muted">Connect with us on social media.</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#"><i class="fab fa-facebook fa-lg"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-lg"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-instagram fa-lg"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin fa-lg"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-youtube fa-lg"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center text-muted py-3">
    <small>&copy; 2023 Awiya. All rights reserved.</small>
  </div>
</footer>